

body {
  margin: 60px auto;
  width: 70%;
}
nav ul, fotter ul {
  font-family:'Helvetica','Arial','Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, fotter ul li {
  display: inline;
  margin-right: 20px; 
}
a {
  text-decoration: none;
  color: #999
}
a:hover {
  text-decoration: underline;
}
title {
  font-size: 10em;
  font-family: "PrismaTextLLWebTrial-Light", 'Fallback', "Sans-Serif";
  color: #333;
}


h1 {
  font-size: 3em;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}
footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}
ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}
ul.posts li {
  list-style: none;
}



/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The font file(s) should be placed relative to the regular CSS file.
 *
 */

/*
 * Legal Disclaimer for Trial Licence licence
 *
 * Trial Licence
 *
 * Trial Web License for evaluation, testing and presentation purposes on internal domains without public access only.
 * 
 * The font files may not be distributed, published or used on any other domain(s).
 * 
 * Any further use is strictly prohibited.
 *
 * For internal test and presentation use only.
 * For both print use and web / electronic use on internal domains without public access. Licencee may create documents / visuals / web pages etc. for the purpose of evaluation and presentation to clients or other interested parties.
 * Any further use is strictly prohibited. The font files may not be distributed, published or used on any other domain(s).
 *
 */

/* complete */

@font-face {
  font-family: "PrismaTextLLWebTrial-Light";
  src: url(/fonts/PrismaTextLLWebTrial-Light.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-LightItalic";
  src: url(/fonts/PrismaTextLowLLWebTrial-LightItalic.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-LightItalic";
  src: url(/fonts/PrismaTextLowLLWebTrial-LightItalic.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-MediumItalic";
  src: url(/fonts/PrismaTextLowLLWebTrial-MediumItalic.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-Bold";
  src: url(/fonts/PrismaTextLowLLWebTrial-Bold.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLLWebTrial-LightItalic";
  src: url(/fonts/PrismaTextLLWebTrial-LightItalic.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-BoldItalic";
  src: url(/fonts/PrismaTextLowLLWebTrial-BoldItalic.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLLWebTrial-Regular";
  src: url(/fonts/PrismaTextLLWebTrial-Regular.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-Regular";
  src: url(/fonts/PrismaTextLowLLWebTrial-Regular.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-BoldItalic";
  src: url(/fonts/PrismaTextLowLLWebTrial-BoldItalic.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-Italic";
  src: url(/fonts/PrismaTextLowLLWebTrial-Italic.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-Medium";
  src: url(/fonts/PrismaTextLowLLWebTrial-Medium.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-Regular";
  src: url(/fonts/PrismaTextLowLLWebTrial-Regular.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-Italic";
  src: url(/fonts/PrismaTextLowLLWebTrial-Italic.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-Light";
  src: url(/fonts/PrismaTextLowLLWebTrial-Light.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLLWebTrial-Medium";
  src: url(/fonts/PrismaTextLLWebTrial-Medium.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-Bold";
  src: url(/fonts/PrismaTextLowLLWebTrial-Bold.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-Light";
  src: url(/fonts/PrismaTextLowLLWebTrial-Light.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-ExtraBold";
  src: url(/fonts/PrismaTextLowLLWebTrial-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-Medium";
  src: url(/fonts/PrismaTextLowLLWebTrial-Medium.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLLWebTrial-Bold";
  src: url(/fonts/PrismaTextLLWebTrial-Bold.woff) format("woff");
}

@font-face {
  font-family: "PrismaTextLowLLWebTrial-ExtraBold";
  src: url(/fonts/PrismaTextLowLLWebTrial-ExtraBold.woff) format("woff");
}


